<!DOCTYPE html>
<html ng-app="todoModule">
<head>
    <title>待办事项</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
</head>
<body style="margin-top: 50px;" ng-controller="todoCtrl">
<div class="container">
    <div class="jumbotron text-center">
        <h1><label class="label label-info">你有{{todos.length}}个待办事项</label></h1>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <p class="text-center" ng-show="loading">
                <i class="fa fa-spinner fa-spin"></i>
            </p>
            <button class="btn btn-success" ng-click="selectAll()" >全选</button>
            <div class="checkbox" ng-repeat="todo in todos">
                <label>
                    <input type="checkbox" ng-checked="todo.checked" ng-click="todo.checked = !todo.checked">
                    {{todo.text}}<span class="glyphicon glyphicon-minus" ng-click="delete(todo._id)"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
            <form>
                <div class="form-group">
                    <label for="text">新的事项</label>
                    <input type="text" id="text" class="form-control" ng-model="todo.text">

                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="addTodo()">增加</button>
                    <button class="btn btn-primary" ng-click="batchDelete()">批量删除</button>
                </div>
            </form>
        </div>
    </div>


</div>
</body>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/angular/angular.js"></script>
<script>
    angular.module('todoModule', []);
    angular.module('todoModule').factory('todoService', function ($http) {
        return {
            list: function () {//列出所有 restful应用
                return $http.get('/todos');
            },
            add: function (data) {//增加
                //把data放在请求体里
                return $http.post('/todos', data);
            },
            delete: function (id) {//删除
                return $http.delete('/todos/' + id);
            },
            batchDelete: function (data) {
                return $http.post('/todos/delete', data);
            }
        }
    });
    angular.module('todoModule').controller('todoCtrl', function ($scope, todoService) {

        $scope.loading = true;
        //请向服务器所有的待办事项,返回一个promise
        todoService.list().success(function (todos) {
            todos.forEach(function(todo){
                todo.checked = false;
            });
            $scope.todos = todos;
            $scope.loading = false;
        });

        $scope.todo = {};
        $scope.addTodo = function () {
            $scope.loading = true;
            //保存新的事项
            todoService.add($scope.todo).success(function (todo) {
                $scope.todos.push(todo);
                $scope.todo = {};
                $scope.loading = false;
            });
        }

        $scope.delete = function (id) {
            $scope.loading = true;
//远程接口调用，会返回一个success方法  ，当调用接口成功之后，会执行success方法并把服务器返回的数据放到参数中
            todoService.delete(id).success(function (data) {
                $scope.todos = $scope.todos.filter(function (todo) {
                    return todo._id != id;
                });
                $scope.loading = false;
            });
        }

        $scope.batchDelete = function () {
            $scope.loading = true;
            var selectedIds = [];
            $scope.todos.forEach(function(todo){
                if(todo.checked){
                    selectedIds.push(todo._id);
                }
            });
            todoService.batchDelete(selectedIds).success(function () {
                $scope.todos = $scope.todos.filter(function (todo) {
                    return selectedIds.indexOf(todo._id) == -1;
                });
                $scope.loading = false;
            });
        }

        $scope.selectAll = function(){
            var all = $scope.todos.length;
//            所有选中的数量
            var length = $scope.todos.filter(function(todo){
                return todo.checked;
            }).length;
            $scope.todos.forEach(function(todo){
                todo.checked = (all != length);
            })
        }
    });
</script>
</html>
